tg_bot/config.py
tg_bot/*.session
tg_bot/*.session-journal
tg_bot/config.ini
*.pyc
.project
.pydevproject
.directory
tg_bot/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
env
kigyo.session-journal
*.exe
*.png
env/
*.session-journal
config.ini
*.session-journal
*.log
shell_output.txt
.vs
tg_bot/elevated_users.json
