future
emoji
beautifulsoup4
requests
sqlalchemy
python-telegram-bot
psycopg2-binary
feedparser
pynewtonmath
spongemock
tswift
zalgo-text
geopy
nltk
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
speedtest-cli
spamwatch
telethon
pyrogram
tgcrypto
