future
emoji
beautifulsoup4
requests
SQLAlchemy==1.4.11
python-telegram-bot==13.4.1
psycopg2-binary
feedparser
markdown2
spongemock
tswift
zalgo-text
geopy
nltk
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
gpytranslate
speedtest-cli
spamwatch
telethon==1.16.4
configparser
pyrogram
tgcrypto
alphabet_detector
pyrate-limiter
bleach
cachetools
PyYAML>=5.1.2
Intellivoid-SPB
rich
ujson
psutil
git+https://github.com/python-telegram-bot/ptbcontrib.git
gitpython
